.modal-fondo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(2px);
}

.modal-contenido {
  background: white;
  padding: 30px 0px 0px 30px;
  border-radius: 12px;
  width: 100%;
  max-width: 450px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  text-align: left;
}

.modal-contenido h3 {
  margin-top: 0;
  color: #1F3A52;
  margin-bottom: 20px;
}

.separator {
  height: 1px;
  background-color: #d1d5db;
  width: 94%;
  margin-top: -10px;
}

.detalles-usuario {
  color: #1f2937;
  flex: 1;
}

.detalles-usuario p {
  color: #1f2937;
  margin: 8px 0;
}

.modal-botones-derecha {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin: 20px 0px 0px 30px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.btn-gris {
  background-color: #9ca3af;
  color: white;
  padding: 10px 20px;
  border: none;
  width: 30%;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  margin: 0;
}

.btn-gris:hover {
  background-color: #6b7280;
}

.btn-editar {
  background-color: #2E4F6E;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 30%;
  font-weight: 500;
  align-items: center;
  gap: 8px;
  margin: 0;
}

.btn-editar:hover {
  background-color: #4F6F8F;
}
