.inferior h3 {
    width: 100%;
    height: 8px;
    text-align: left;
    padding-left: 10px;
}

.inferior .box {
    width: 100%;
    height: 35vh;
    background-color: #C1C7D4;
    border-radius: 10px;
    margin-bottom: 10px;
}

.inferior .box .titulo {
    background-color: #012840;
    height: 50px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 5px;
    gap: 15px;
    font-size: 20px;
    color: aliceblue;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.inferior .titulo button {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    background-color: #C1C7D4;
}

.comunicado {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 70%;
    padding: 10px;
    text-align: center;
}

.comunicado-aviso{
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fecha-aviso {
    font-size: 14px;
    color: #666;
    margin-top: 5px; /* Espacio entre descripción y fecha */
}