<link rel="stylesheet" href="/static/css/componentes/aside/avisos.css">
<div>
    <h3>Avisos:</h3>
    <div class="box">
        <div class="titulo">
            <button id="prev-aviso" class="nav-btn">&lt;</button>
            <h5 id="emisor-aviso"></h5>
            <button id="next-aviso" class="nav-btn">&gt;</button>
        </div>
        <div class="comunicado">
            <div class="comunicado-aviso">
                <p id="descripcion-aviso"></p>
            </div>
            <p id="fecha-aviso" class="fecha-aviso"></p> </div>
    </div>
</div>

<script>
    const avisos = {{ avisos|tojson }};
    let currentAvisoIndex = 0;

    function mostrarAviso(index) {
        if (avisos.length > 0) {
            document.getElementById('emisor-aviso').textContent = avisos[index].emisor;
            document.getElementById('descripcion-aviso').textContent = avisos[index].descripcion;
            document.getElementById('fecha-aviso').textContent = avisos[index].fechaCreacion; // Mostrar la fecha
        } else {
            document.getElementById('emisor-aviso').textContent = "No hay avisos.";
            document.getElementById('descripcion-aviso').textContent = "";
            document.getElementById('fecha-aviso').textContent = "";
        }
    }

    function actualizarNavegacion() {
        mostrarAviso(currentAvisoIndex);
    }

    document.getElementById('prev-aviso').addEventListener('click', function() {
        currentAvisoIndex = (currentAvisoIndex - 1 + avisos.length) % avisos.length;
        actualizarNavegacion();
    });

    document.getElementById('next-aviso').addEventListener('click', function() {
        currentAvisoIndex = (currentAvisoIndex + 1) % avisos.length;
        actualizarNavegacion();
    });

    actualizarNavegacion();
</script>