<link rel="stylesheet" href="/static/css/componentes/aside/contenidoMateria.css">
<div class="containerContenidoMateria">
    <h3>Contenido:
        {% if tipoUsuario == 'Admin' or tipoUsuario == 'Director' or tipoUsuario == 'Preceptor' or tipoUsuario == 'Profesor' %}
            <button id="agregar-unidad-btn"><i class="fa-solid fa-plus"></i></button>
        {% endif %}
    </h3>
    <ul>
        <li><a href="/{{ curso.id }}/materia/{{ materia.id }}">Informacion General</a></li>
        {% for unidad in unidades %}
            <li><a href="/{{ curso.id }}/materia/{{ materia.id }}/unidad/{{ loop.index }}/{{ unidad.id }}">Unidad {{ loop.index }}</a></li>
        {% endfor %}
    </ul>
</div>
<div id="modal-agregar-unidad" style="display: none; position: fixed; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: rgba(0,0,0,0.4);">
    <div style="background-color: #fefefe; margin: 15% auto; padding: 20px; border: 1px solid #888; width: 40%;">
        <span id="cerrar-modal" style="color: #aaa; float: right; font-size: 28px; font-weight: bold; cursor: pointer;">&times;</span>
        <label for="nombre-unidad">Nombre de la Unidad:</label>
        <input type="text" id="nombre-unidad" name="nombre-unidad">
        <button id="enviar-nombre-unidad">Agregar unidad</button>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const agregarUnidadBtn = document.getElementById('agregar-unidad-btn');
        const modalAgregarUnidad = document.getElementById('modal-agregar-unidad');
        const cerrarModal = document.getElementById('cerrar-modal');
        const enviarNombreUnidad = document.getElementById('enviar-nombre-unidad');
        const nombreUnidadInput = document.getElementById('nombre-unidad');

        agregarUnidadBtn.addEventListener('click', function() {
            modalAgregarUnidad.style.display = 'block';
        });

        cerrarModal.addEventListener('click', function() {
            modalAgregarUnidad.style.display = 'none';
        });

        window.addEventListener('click', function(event) {
            if (event.target == modalAgregarUnidad) {
                modalAgregarUnidad.style.display = 'none';
            }
        });

        enviarNombreUnidad.addEventListener('click', function() {
            const nombreUnidad = nombreUnidadInput.value;
            if (nombreUnidad) {
                const cursoId = "{{ curso.id }}";
                const materiaId = "{{ materia.id }}";
                fetch(`/materia/${cursoId}/${materiaId}/agregarUnidad`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ nombre: nombreUnidad }),
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`HTTP error! status: ${response.status}`);
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.success) {
                        window.location.reload();
                    } else {
                        alert('Error al agregar la unidad.');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Error al agregar la unidad.');
                });
                modalAgregarUnidad.style.display = 'none';
            } else {
                alert('Por favor, ingresa el nombre de la unidad.');
            }
        });
    });
</script>