<link rel="stylesheet" href="/static/css/componentes/aside/mensaje.css">
<div class="contenedorMensajeAside">
    <h3>Contactos:</h3>
    <div class="lista">
        <div>
            <input class="buscador" type="text" id="buscarContacto" placeholder="Buscar contacto">
        </div>
        <div id="listaContactos">
            {% if contactos == [] %}
                <p>No hay contactos</p>
            {% else %}
                {% for contacto in contactos %}
                    <a href="{{ url_for('mensajes.verMensajes', idReceptor=contacto.id) }}" class="persona">
                        <img src="/static/img/fotoPerfil.jpeg">
                        <h4>{{ contacto.nombre }}</h4>
                    </a>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

<script>
const buscarContacto = document.getElementById('buscarContacto');
const listaContactos = document.getElementById('listaContactos');
const contactos = {{ contactos|tojson|safe }}; // Pasar la lista de contactos desde Flask

buscarContacto.addEventListener('input', () => {
    const filtro = buscarContacto.value.toLowerCase();
    const contactosFiltrados = contactos.filter(contacto => contacto.nombre.toLowerCase().includes(filtro));

    listaContactos.innerHTML = ''; // Limpiar resultados anteriores

    if (contactosFiltrados.length === 0) {
        listaContactos.innerHTML = '<p>No se encontraron contactos</p>';
    } else {
        contactosFiltrados.forEach(contacto => {
            const enlace = document.createElement('a');
            enlace.href = `/mensajes/${contacto.id}`; // Ajusta la ruta según tu configuración
            enlace.classList.add('persona');
            enlace.innerHTML = `<img src="/static/img/fotoPerfil.jpeg"><h4>${contacto.nombre}</h4>`;
            listaContactos.appendChild(enlace);
        });
    }
});
</script>
    