<link rel="stylesheet" href="/static/css/componentes/home.css">
{% include '/componentes/header/header.html' %}
                <aside>
                    <div class="superior">
                        {% include '/componentes/aside/calendario.html' %}
                    </div>
                    <div class="inferior">
                        {% include '/componentes/aside/comunicados.html' %}
                    </div>
                </aside>        
                <main>
                    {% include '/componentes/main/materiaCrear.html' %}
                </main>
        </section>
    </body>
</html>