<link rel="stylesheet" href="/static/css/componentes/main/alumnosNotas.css">
<h1>Cargar Notas</h1>

<div class="contenedor-usuarios">
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
                {% for alumno in alumnos %}
                    {% if usuario.id == alumno.idAlumno %}
                        <tr>
                            <td>{{ usuario.nombre }}</td>
                            <td>{{ usuario.apellido }}</td>
                            <td id="accion-{{ usuario.id }}">
                                <button class="accion-button" onclick="abrirModal('{{ usuario.nombre }} {{ usuario.apellido }}', '{{ usuario.id }}')">
                                    <i class="fa-solid fa-file"></i>
                                </button>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>

    <div id="modalNotas" class="modal">
        <div class="modal-content">
            <span class="close" onclick="cerrarModal()">&times;</span>
            <h2 id="modalNombreAlumno"></h2>
            <form id="formModalNotas">
                <input type="hidden" id="modalIdUsuario" name="idAlumno">
                <label for="nota">Nota (1-10):</label>
                <input type="number" id="nota" name="nota" required><br>
                <label for="descripcion">Descripción:</label>
                <textarea id="descripcion" name="descripcion" rows="4"></textarea><br>
                <button type="button" class="guardar-nota-button" onclick="guardarNota()">Guardar Nota</button>
            </form>
        </div>
    </div>

    <button id="guardarTodasNotas" class="guardar-todas-notas-button" onclick="guardarTodasNotas()">Guardar Todas las Notas</button>
</div>

<script>
    const modal = document.getElementById('modalNotas');
    let notasGuardadas = [];

    function abrirModal(nombreAlumno, idUsuario) {
        document.getElementById('modalNombreAlumno').textContent = nombreAlumno;
        document.getElementById('modalIdUsuario').value = idUsuario;
        document.getElementById('nota').value = '';
        document.getElementById('descripcion').value = '';
        modal.style.display = "block";
    }

    function cerrarModal() {
        modal.style.display = "none";
    }

    window.onclick = function(event) {
        if (event.target == modal) {
            cerrarModal();
        }
    }

    function guardarNota() {
        const idUsuario = document.getElementById('modalIdUsuario').value;
        const nota = document.getElementById('nota').value;
        const descripcion = document.getElementById('descripcion').value;

        notasGuardadas.push({
            idAlumno: idUsuario,
            nota: nota,
            descripcion: descripcion
        });

        alert('Nota guardada.');
        cerrarModal();
        cambiarIcono(idUsuario);
        console.log(notasGuardadas);
    }

    function cambiarIcono(idUsuario) {
        const accionCelda = document.getElementById(`accion-${idUsuario}`);
        accionCelda.innerHTML = '<i class="fa-solid fa-user-check"></i>';
    }

    function guardarTodasNotas() {
        fetch('/curso/{{ curso.id }}/materia/{{ materia.id }}/guardarNotas', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(notasGuardadas)
        })
        .then(response => {
            if (response.ok) {
                alert('Todas las notas guardadas con éxito.');
                notasGuardadas = [];
                // Redirigir a cursos.verMateria
                window.location.href = `/{{ curso.id }}/materia/{{ materia.id }}`;
            } else {
                alert('Error al guardar las notas.');
            }
        })
        .catch(error => {
            console.error('Error de red:', error);
        });
    }
</script>



<style>
    .modal {
        display: none; // Ocultar el modal inicialmente
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.4);
    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
</style>

