<link rel="stylesheet" href="/static/css/componentes/main/calendario.css">
<div class="encabezado">
    <div class="titulo">
        <h2>CALENDARIO</h2>
    </div>
</div>
<div class="contenedor-calendario">
    <div class="box">
        <div class="mes">
            <i class="fa-solid fa-left-long" id="mesAnterior"></i>
            <h5 id="mesTitulo"></h5>
            <i class="fa-solid fa-right-long" id="mesSiguiente"></i>
        </div>
        <div class="grilla" id="calendario-grilla">
            <div class="dia">L</div>
            <div class="dia">M</div>
            <div class="dia">M</div>
            <div class="dia">J</div>
            <div class="dia">V</div>
            <div class="dia">S</div>
            <div class="dia">D</div>
        </div>
    </div>
</div>

<div id="modalAgregarEvento" class="modal">
    <div class="modal-contenido">
        <span class="cerrar">&times;</span>
        <h2 id="modalTitulo">Agregar Evento</h2>
        <div id="eventosDiaContenido">
            <h3>Eventos del Día:</h3>
            <ul id="listaEventosDia"></ul>
        </div>
        <form id="formAgregarEvento">
            <input type="hidden" id="fechaEvento" name="fecha" required>
            <label id="fechaSeleccionada"></label>
            <label for="horaEvento">Hora:</label>
            <input type="time" id="horaEvento" name="hora" required>
            <label for="descripcionEvento">Descripción:</label>
            <input type="text" id="descripcionEvento" name="descripcion" required>
            <label for="cursoEvento">Curso:</label>
            <select id="cursoEvento" name="idCurso" required>
                <option value="" hidden>Seleccionar curso</option>
                {% if tipoUsuario == 'Admin' or tipoUsuario == 'Director' %}
                    <option value="0">Todos los cursos</option>
                {% endif %}
                {% for curso in cursos %}
                    <option value="{{ curso.id }}">{{ curso.año }} - {{ curso.division }}</option>
                {% endfor %}
            </select>
            <button type="submit">Agregar</button>
        </form>
    </div>
</div>

<script>
    const calendarioGrilla = document.getElementById('calendario-grilla');
    const modalAgregarEvento = document.getElementById('modalAgregarEvento');
    const formAgregarEvento = document.getElementById('formAgregarEvento');
    const fechaEventoInput = document.getElementById('fechaEvento');
    const cursoEvento = document.getElementById('cursoEvento');
    const cerrarModal = document.querySelector('.cerrar');
    const mesTitulo = document.getElementById('mesTitulo');
    const mesAnterior = document.getElementById('mesAnterior');
    const mesSiguiente = document.getElementById('mesSiguiente');
    const fechaSeleccionada = document.getElementById('fechaSeleccionada');
    const listaEventosDia = document.getElementById('listaEventosDia'); // Lista para mostrar eventos del día

    let anioActual = new Date().getFullYear();
    let mesActual = new Date().getMonth() + 1;

    // Parsear fechasAgendadas desde JSON
    const fechasAgendadas = JSON.parse({{ fechas_agendadas | tojson | safe }});

    function obtenerDiasMes(anio, mes) {
        return new Date(anio, mes, 0).getDate();
    }

    function actualizarCalendario(anio, mes) {
        const primerDiaMes = new Date(anio, mes - 1, 1).getDay();
        const diasMes = obtenerDiasMes(anio, mes);
        calendarioGrilla.innerHTML = '<div class="dia">L</div><div class="dia">M</div><div class="dia">M</div><div class="dia">J</div><div class="dia">V</div><div class="dia">S</div><div class="dia">D</div>';
        for (let i = 0; i < primerDiaMes - (primerDiaMes === 0 ? -6 : 1); i++) {
            calendarioGrilla.innerHTML += '<div></div>';
        }
        for (let i = 1; i <= diasMes; i++) {
            const fecha = `${anio}-${mes.toString().padStart(2, '0')}-${i.toString().padStart(2, '0')}`;
            const esFechaAgendada = fechasAgendadas.includes(fecha);
            const claseAgendada = esFechaAgendada ? 'agendada' : '';
            let contenidoDia = i;
            if (esFechaAgendada) {
                contenidoDia = `${i}<span class="punto-evento"></span>`;
            }
            calendarioGrilla.innerHTML += `<div class="numero ${claseAgendada}" data-dia="${i}" data-fecha="${fecha}">${contenidoDia}</div>`;
        }
        mesTitulo.textContent = new Date(anio, mes - 1).toLocaleString('default', { month: 'long' }).toUpperCase();
    }

    calendarioGrilla.addEventListener('click', (event) => {
        console.log(cerrarModal);
        if (event.target.classList.contains('numero')) {
            const fecha = event.target.dataset.fecha;
            fechaEventoInput.value = fecha;
            fechaSeleccionada.textContent = `${event.target.dataset.dia} de ${mesTitulo.textContent}`;
            modalAgregarEvento.style.display = 'block';

            // Obtener y mostrar eventos del día
            fetch('/calendario/eventos_dia', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: `fecha=${fecha}`,
            })
            .then(response => response.json())
            .then(data => {
                listaEventosDia.innerHTML = ''; // Limpiar la lista
                if (data.length > 0) {
                    data.forEach(evento => {
                        const li = document.createElement('li');
                        li.textContent = `${evento.hora} - ${evento.descripcion} (${evento.curso})`;
                        listaEventosDia.appendChild(li);
                    });
                } else {
                    listaEventosDia.innerHTML = '<li>No hay eventos para este día.</li>';
                }
            })
            .catch(error => console.error('Error:', error));
        }
    });

    formAgregarEvento.addEventListener('submit', (event) => {
        event.preventDefault();
        const formData = new FormData(formAgregarEvento);
        fetch('/calendario/agregar_evento', {
            method: 'POST',
            body: formData,
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                modalAgregarEvento.style.display = 'none';
                alert(data.message);
                window.location.href = '/calendario';
            } else {
                console.error('Error al agregar evento:', data.error);
            }
        })
        .catch(error => console.error('Error:', error));
    });

    cerrarModal.addEventListener('click', () => {
        console.log("Cerrando el modal...");
        modalAgregarEvento.style.display = 'none';
    });

    window.addEventListener('click', (event) => {
        if (event.target === modalAgregarEvento) {
            modalAgregarEvento.style.display = 'none';
        }
    });

    mesAnterior.addEventListener('click', () => {
        mesActual--;
        if (mesActual < 1) {
            mesActual = 12;
            anioActual--;
        }
        actualizarCalendario(anioActual, mesActual);
    });

    mesSiguiente.addEventListener('click', () => {
        mesActual++;
        if (mesActual > 12) {
            mesActual = 1;
            anioActual++;
        }
        actualizarCalendario(anioActual, mesActual);
    });

    actualizarCalendario(anioActual, mesActual);
</script>

