<link rel="stylesheet" href="/static/css/componentes/aside/listaAlumnos.css">
<div class="contenedorListaAlumnosAside">
    <h3>Alumnos:</h3>
    <ul>
        <li><a href="/{{ curso.id  }}/materia/{{ materia.id }}/alumnosLista">Lista</a></li>
        <li><a href="/curso/{{ curso.id }}/materia/{{ materia.id }}/presente">Pasar presente</a></li>
        <li><a href="/curso/{{ curso.id }}/materia/{{ materia.id }}/verAsistencia">Ver Asistencia</a></li>
        <li><a href="/curso/{{ curso.id }}/materia/{{ materia.id }}/cargarNotas">Cargar Notas</a></li>
    </ul>
</div>