<link rel="stylesheet" href="/static/css/componentes/main/curso.css">
<div class="contenedorMaterias">
    <div class="encabezado">
        <div class="titulo">
            <h2>Bienvenido a {{ curso.año }} - {{ curso.division }}</h2>
            {% if tipoUsuario == 'Admin' or tipoUsuario == 'Director' or tipoUsuario == 'Preceptor' %}
                <a href="/materia/{{curso.id}}/agregarMateria"><i class="fa-solid fa-plus"></i></a>
                <button id="eliminarMateriasBtn"><i class="fa-solid fa-trash-alt"></i></button>
            {% endif %}
        </div>
    </div>
    <div class="contenedor-materias" id="listaMaterias">
        {% for materia in materias %}
        <div class="materia">
            <a href="/{{ curso.id }}/materia/{{ materia.id }}">
                <h3>{{ materia.nombre }}</h3>
                <img src="/static/img/materias/{{ materia.fotoMateria }}" alt="{{ materia.nombre }}">
            </a>
        </div>
        {% endfor %}
    </div>
</div>

<div id="modalEliminarMaterias" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Seleccionar Materias a Eliminar</h2>
        <ul id="listaMateriasEliminar">
            {% for materia in materias %}
            <li>
                <input type="checkbox" id="materia{{ materia.id }}" value="{{ materia.id }}">
                <label for="materia{{ materia.id }}">{{ materia.nombre }}</label>
            </li>
            {% endfor %}
        </ul>
        <button id="eliminarSeleccionadosBtn">Eliminar Seleccionados</button>
    </div>
</div>

<script>
    const busquedaMaterias = document.getElementById('busquedaMaterias');
    const listaMaterias = document.getElementById('listaMaterias');
    const materiasOriginales = Array.from(listaMaterias.children);

    busquedaMaterias.addEventListener('input', () => {
        const textoBusqueda = busquedaMaterias.value.toLowerCase();
        let materiasFiltradas = materiasOriginales.filter(materia => {
            const nombreMateria = materia.querySelector('h3').textContent.toLowerCase();
            return nombreMateria.includes(textoBusqueda);
        });

        listaMaterias.innerHTML = '';

        materiasFiltradas.forEach(materia => {
            listaMaterias.appendChild(materia.cloneNode(true));
        });
    });

    const modalEliminarMaterias = document.getElementById('modalEliminarMaterias');
    const eliminarMateriasBtn = document.getElementById('eliminarMateriasBtn');
    const closeBtn = document.querySelector('.close');
    const eliminarSeleccionadosBtn = document.getElementById('eliminarSeleccionadosBtn');
    const listaMateriasEliminar = document.getElementById('listaMateriasEliminar');

    eliminarMateriasBtn.addEventListener('click', () => {
        modalEliminarMaterias.style.display = 'block';
    });

    closeBtn.addEventListener('click', () => {
        modalEliminarMaterias.style.display = 'none';
    });

    window.addEventListener('click', (event) => {
        if (event.target === modalEliminarMaterias) {
            modalEliminarMaterias.style.display = 'none';
        }
    });

    eliminarSeleccionadosBtn.addEventListener('click', () => {
        const materiasSeleccionadas = Array.from(listaMateriasEliminar.querySelectorAll('input[type="checkbox"]:checked'))
            .map(checkbox => checkbox.value);

        if (materiasSeleccionadas.length === 0) {
            alert('Selecciona al menos una materia para eliminar.');
            return;
        }

        if (confirm('¿Estás seguro de que quieres eliminar las materias seleccionadas?')) {
            fetch('/materias/eliminar', { 
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ materias: materiasSeleccionadas }) 
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert('Materias eliminadas con éxito.');
                    location.reload();
                } else {
                    alert('Error al eliminar las materias.');
                }
            });
        }
    });
</script>

