<link rel="stylesheet" href="/static/css/componentes/main/cursos.css">
<div class="contenedorCursos">
    <div class="encabezado">
        <div class="titulo">
            <h2>CURSOS</h2>
            {% if tipoUsuario == 'Admin' or tipoUsuario == 'Director' %}
                <a href="/curso/agregar"><i class="fa-solid fa-plus"></i></a>
                <button id="eliminarCursosBtn"><i class="fa-solid fa-trash-alt"></i></button>
            {% endif %}
        </div>
        <div class="buscador">
            <input type="text" id="busquedaCursos" placeholder="Ingresa nombre">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
    </div>
    <div class="contenedor-cursos" id="listaCursos">
        {% for curso in cursos %}
        <div class="curso">
            <a href="/curso/{{ curso.id }}">
                <h3>{{ curso.año }} - {{curso.division}}</h3>
                {% if curso.fotoCurso %}
                    <img class="imgPerfil" src="/static/img/cursos/{{ curso.fotoCurso }}">
                {% else %}
                    <img src="/static/img/materia.jpg" alt="Imagen del curso">
                {% endif %}
            </a>
        </div>
        {% endfor %}
    </div>
    {% if cursos|length >= 10 %}
    <button class="cargarMas">Cargar más</button>
    {% endif %}
</div>

<div id="modalEliminarCursos" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Seleccionar Cursos a Eliminar</h2>
        <ul id="listaCursosEliminar">
            {% for curso in cursos %}
            <li>
                <input type="checkbox" id="curso{{ curso.id }}" value="{{ curso.id }}">
                <label for="curso{{ curso.id }}">{{ curso.año }} - {{ curso.division }}</label>
            </li>
            {% endfor %}
        </ul>
        <button id="eliminarSeleccionadosBtn">Eliminar Seleccionados</button>
    </div>
</div>

<script>
    const busquedaCursos = document.getElementById('busquedaCursos');
    const listaCursos = document.getElementById('listaCursos');
    const cursosOriginales = Array.from(listaCursos.children);
    
    busquedaCursos.addEventListener('input', () => {
        const textoBusqueda = busquedaCursos.value.toLowerCase();
        let cursosFiltrados = cursosOriginales.filter(curso => {
            const anioDivision = curso.querySelector('h3').textContent.toLowerCase(); // Cambiado aquí
            return anioDivision.includes(textoBusqueda); // Cambiado aquí
        });
    
        listaCursos.innerHTML = '';
    
        cursosFiltrados.forEach(curso => {
            listaCursos.appendChild(curso.cloneNode(true));
        });
    });

    const eliminarCursosBtn = document.getElementById('eliminarCursosBtn');
    const modalEliminarCursos = document.getElementById('modalEliminarCursos');
    const listaCursosEliminar = document.getElementById('listaCursosEliminar');
    const eliminarSeleccionadosBtn = document.getElementById('eliminarSeleccionadosBtn');
    const span = document.getElementsByClassName('close')[0];

    eliminarCursosBtn.addEventListener('click', () => {
        modalEliminarCursos.style.display = 'block';
    });

    span.onclick = () => {
        modalEliminarCursos.style.display = 'none';
    };

    window.onclick = (event) => {
        if (event.target == modalEliminarCursos) {
            modalEliminarCursos.style.display = 'none';
        }
    };

    eliminarSeleccionadosBtn.addEventListener('click', () => {
        const cursosSeleccionados = Array.from(listaCursosEliminar.querySelectorAll('input[type="checkbox"]:checked'))
            .map(checkbox => checkbox.value);

        if (cursosSeleccionados.length > 0) {
            if (confirm('¿Estás seguro de que deseas eliminar los cursos seleccionados?')) {
                fetch('/cursos/eliminar', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ cursos: cursosSeleccionados })
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            location.reload();
                        } else {
                            alert('Error al eliminar los cursos.');
                        }
                    });
            }
        } else {
            alert('Por favor, selecciona al menos un curso para eliminar.');
        }
    });
</script>