<link rel="stylesheet" href="/static/css/componentes/main/materiaInicio.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

<div class="contenedorMateria">
    <div class="titulo">
        <h2>INFORMACION GENERAL</h2>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="flash {{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<div class="modificable" data-tipo="nombreMateria">
    <div class="titulo-modificar titulo-pag">
        <h4>1. Nombre de la Materia: </h4><span class="editable">{{ materia.nombre }}</span>
        {% if tipoUsuario == 'Admin' or tipoUsuario == 'Director' or tipoUsuario == 'Preceptor' or tipoUsuario == 'Profesor' %}
            <button class="modificar-btn"><i class="fas fa-edit"></i></button>
        {% endif %}
    </div>
</div>

<div class="modificable" data-tipo="descripcionMateria">
    <div class="descripcion">
        <h4>2. Descripción de la Materia:</h4>
        {% if tipoUsuario == 'Admin' or tipoUsuario == 'Director' or tipoUsuario == 'Preceptor' or tipoUsuario == 'Profesor' %}
            <button class="modificar-btn"><i class="fas fa-edit"></i></button>
        {% endif %}
    </div>
    <div class="contenido">
        <p class="editable">{{ info.descripcion }}</p>
    </div>
</div>

    <div class="modificable" data-tipo="profesorAcargo">
        <div class="titulo-modificar">
            <h4>3. Profesor a Cargo:</h4>
        </div>
        <div class="contenido">
            <ul>
                <li><strong>Profesor: </strong> <span class="editable">{{ profesor.nombre }} {{profesor.apellido}} </span></li>
                <li><strong>Correo electrónico: </strong> <span class="editable">{{ profesor.correo }} </span></li>
                <li><strong>Horario: </strong> <span class="editable">{{ materia.horario }}</span></li>
            </ul>
        </div>
    </div>

    <div class="modificable" data-tipo="requisitos">
        <div class="titulo-modificar">
            <h4>3. Requisitos:</h4>
        </div>
        <div class="contenido">
            <ul>
                {% for Requisito in requisitos %}
                    <li>
                        <span class="editable">{{ Requisito.descripcion }}</span>
                        {% if tipoUsuario in ['Admin', 'Director', 'Preceptor', 'Profesor'] %}
                            <button class="modificar-btn-requisito" data-requisito-id="{{ Requisito.id }}">
                                <i class="fas fa-edit"></i>
                            </button>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    
    <div class="modificable" data-tipo="objetivos">
        <div class="titulo-modificar">
            <h4>5. Objetivos del Curso:</h4>
        </div>
        <div class="contenido">
            <ul>
                {% for objetivo in objetivos %}
                    <li>
                        <span class="editable">{{ objetivo.descripcion }}</span>
                        {% if tipoUsuario in ['Admin', 'Director', 'Preceptor', 'Profesor'] %}
                            <button class="modificar-btn-objetivo" data-objetivo-id="{{ objetivo.id }}">
                                <i class="fas fa-edit"></i>
                            </button>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    
    <div class="modificable" data-tipo="contenidosTemas">
        <div class="titulo-modificar">
            <h4>6. Contenidos y Temas del Curso:</h4>
        </div>
        <div class="contenido">
            <ul>
                {% for unidad in unidades %}
                    <li>
                        <strong>Unidad {{ loop.index }}:</strong> <span class="editable">{{ unidad.nombre }}</span>
                        {% if tipoUsuario in ['Admin', 'Director', 'Preceptor', 'Profesor'] %}
                            <button class="modificar-btn-unidad" data-unidad-id="{{ unidad.id }}">
                                <i class="fas fa-edit"></i>
                            </button>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Script para modificar nombreMateria y descripcionMateria
        document.querySelectorAll(".modificable").forEach(modificable => {
            const tipo = modificable.dataset.tipo;

            if (tipo === "nombreMateria" || tipo === "descripcionMateria") {
                const botonModificar = modificable.querySelector(".modificar-btn");

                botonModificar.addEventListener("click", function () {
                    let editable;
                    if (tipo === "nombreMateria") {
                        // Para nombreMateria, el span.editable está dentro de titulo-modificar
                        editable = modificable.querySelector(".titulo-modificar .editable");
                    } else {
                        // Para descripcionMateria, el span.editable está dentro de contenido
                        editable = modificable.querySelector(".contenido .editable");
                    }

                    const botonesDiv = document.createElement("div");
                    botonesDiv.classList.add("botones-modificar");

                    const guardarBtn = document.createElement("button");
                    guardarBtn.textContent = "Guardar";
                    guardarBtn.addEventListener("click", function () {
                        const nuevoValor = modificable.querySelector("input").value; // Obtiene el valor del input

                        fetch(`/materia/{{ materia.id }}/actualizar`, {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json"
                            },
                            body: JSON.stringify({ tipo: tipo, contenido: [nuevoValor] }) // Envía el valor como un array
                        })
                            .then(response => response.json())
                            .then(data => {
                                if (data.success) {
                                    location.reload();
                                } else {
                                    alert("Error al guardar los cambios.");
                                }
                            });
                    });

                    const cancelarBtn = document.createElement("button");
                    cancelarBtn.textContent = "Cancelar";
                    cancelarBtn.addEventListener("click", function () {
                        location.reload();
                    });

                    botonesDiv.appendChild(guardarBtn);
                    botonesDiv.appendChild(cancelarBtn);
                    modificable.appendChild(botonesDiv);

                    const valorOriginal = editable.textContent.trim();
                    const input = document.createElement("input");
                    input.type = "text";
                    input.value = valorOriginal;
                    editable.replaceWith(input);

                    this.style.display = "none";
                });
            }
        });

        // Script para modificar requisitos
        document.querySelectorAll(".modificar-btn-requisito").forEach(button => {
            button.addEventListener("click", function () {
                const requisitoItem = this.closest("li");
                const requisitoId = this.getAttribute("data-requisito-id");
                const contenidoSpan = requisitoItem.querySelector(".editable");

                if (!contenidoSpan) return;

                const valorOriginal = contenidoSpan.textContent.trim();

                const input = document.createElement("input");
                input.type = "text";
                input.value = valorOriginal;
                input.classList.add("input-edicion");

                const guardarRequisitoBtn = document.createElement("button");
                guardarRequisitoBtn.textContent = "Guardar";
                guardarRequisitoBtn.classList.add("guardar-requisito-btn");

                guardarRequisitoBtn.addEventListener("click", function () {
                    const nuevoContenido = input.value;

                    fetch(`/materia/{{ materia.id }}/actualizar`, {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({ tipo: "requisito", idTipo: requisitoId, contenido: nuevoContenido })
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                location.reload();
                            } else {
                                alert("Error al guardar los cambios.");
                            }
                        });
                });

                contenidoSpan.replaceWith(input);
                requisitoItem.appendChild(guardarRequisitoBtn);
                this.style.display = "none";
            });
        });

        // Script para modificar objetivos
        document.querySelectorAll(".modificar-btn-objetivo").forEach(button => {
            button.addEventListener("click", function () {
                const objetivoItem = this.closest("li");
                const objetivoId = this.getAttribute("data-objetivo-id");
                const contenidoSpan = objetivoItem.querySelector(".editable");

                if (!contenidoSpan) return;

                const valorOriginal = contenidoSpan.textContent.trim();

                const input = document.createElement("input");
                input.type = "text";
                input.value = valorOriginal;
                input.classList.add("input-edicion");

                const guardarObjetivoBtn = document.createElement("button");
                guardarObjetivoBtn.textContent = "Guardar";
                guardarObjetivoBtn.classList.add("guardar-objetivo-btn");

                guardarObjetivoBtn.addEventListener("click", function () {
                    const nuevoContenido = input.value;

                    fetch(`/materia/{{ materia.id }}/actualizar`, {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({ tipo: "objetivo", idTipo: objetivoId, contenido: nuevoContenido })
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                location.reload();
                            } else {
                                alert("Error al guardar los cambios.");
                            }
                        });
                });

                contenidoSpan.replaceWith(input);
                objetivoItem.appendChild(guardarObjetivoBtn);
                this.style.display = "none";
            });
        });

        // Script para modificar unidades
        document.querySelectorAll(".modificar-btn-unidad").forEach(button => {
            button.addEventListener("click", function () {
                const unidadItem = this.closest("li");
                const unidadId = this.getAttribute("data-unidad-id");
                const contenidoSpan = unidadItem.querySelector(".editable");

                if (!contenidoSpan) return;

                const valorOriginal = contenidoSpan.textContent.trim();

                const input = document.createElement("input");
                input.type = "text";
                input.value = valorOriginal;
                input.classList.add("input-edicion");

                const guardarUnidadBtn = document.createElement("button");
                guardarUnidadBtn.textContent = "Guardar";
                guardarUnidadBtn.classList.add("guardar-unidad-btn");

                guardarUnidadBtn.addEventListener("click", function () {
                    const nuevoContenido = input.value;

                    fetch(`/materia/{{ materia.id }}/actualizar`, {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({ tipo: "unidad", idTipo: unidadId, contenido: nuevoContenido })
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                location.reload();
                            } else {
                                alert("Error al guardar los cambios.");
                            }
                        });
                });

                contenidoSpan.replaceWith(input);
                unidadItem.appendChild(guardarUnidadBtn);
                this.style.display = "none";
            });
        });
    });
</script>