<link rel="stylesheet" href="/static/css/componentes/main/materiaUnidad.css">
<div class="contenedor">
    <div class="encabezado">
        <div class="titulo">
            <h1>UNIDAD {{ numUnidad }}</h1>
        </div>
    </div>
    <div class="contenedor-descripcion">
        <div class="contenedor-descripcion-nombre">
            <h2>{{ unidad.nombre }} :</h2>
            {% if tipoUsuario == 'Admin' or tipoUsuario == 'Director' or tipoUsuario == 'Preceptor' or tipoUsuario == 'Profesor' %}
                <button id="editar-{{ unidad.id }}" class="editar-unidad"><i class="fa-solid fa-pen-to-square"></i></button>
                <button id="guardar-{{ unidad.id }}" class="guardar-unidad" style="display: none;"><i class="fa-solid fa-floppy-disk"></i></button>
            {% endif %}
        </div>
        <p id="descripcion-{{ unidad.id }}" class="descripcion-unidad">{{ unidad.descripcion }}</p>
    </div>
    {% if archivos != None %}
        <h3>Material para la unidad :</h3>
    {% endif %}
    <div class="contenedor-unidad">
        {% if tipoUsuario == 'Admin' or tipoUsuario == 'Director' or tipoUsuario == 'Preceptor' or tipoUsuario == 'Profesor' %}
            <form action="/{{ idCurso }}/materia/{{ idMateria }}/unidad/{{ numUnidad }}/{{ unidad.id }}/cargar" method="post" enctype="multipart/form-data">
                <input type="file" name="archivos" multiple accept=".pdf, .ppt, .pptx, .doc, .docx, .xls, .xlsx" required>
                <button type="submit">Cargar archivos</button>
            </form>
        {% endif %}
        {% if archivos != None %}
            {% for archivo in archivos %}
            <div class="unidad-contenido">
                <h3>{{ archivo.nombre }}</h3>
                <a href="/static/archivos/{{ archivo.nombre }}" target="_blank">
                    <img src="/static/img/pdf.png">
                </a>
                <a href="/{{ idCurso }}/materia/{{ idMateria }}/unidad/{{ numUnidad }}/{{ unidad.id }}/eliminar_archivo/{{ archivo.id }}" onclick="return confirmarEliminacion('{{ archivo.nombre }}')">
                    {% if tipoUsuario == 'Admin' or tipoUsuario == 'Director' or tipoUsuario == 'Preceptor' or tipoUsuario == 'Profesor' %}
                        <i class="fa-solid fa-trash"></i>
                    {% endif %}
                </a>
            </div>
            {% endfor %}
        {% else %}
            <h3>No hay archivos cargados para esta unidad.</h3>
        {%endif%}
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
    const botonesEditar = document.querySelectorAll('.editar-unidad');
    const botonesGuardar = document.querySelectorAll('.guardar-unidad');

    botonesEditar.forEach(boton => {
        boton.addEventListener('click', function() {
            const idUnidad = this.id.split('-')[1];
            const descripcionElement = document.getElementById(`descripcion-${idUnidad}`);
            const guardarBoton = document.getElementById(`guardar-${idUnidad}`);

            descripcionElement.contentEditable = true;
            descripcionElement.classList.add('editable'); // Añade la clase 'editable'
            this.style.display = 'none';
            guardarBoton.style.display = 'inline-block';
        });
    });

    botonesGuardar.forEach(boton => {
        boton.addEventListener('click', function() {
            const idUnidad = this.id.split('-')[1];
            const descripcionElement = document.getElementById(`descripcion-${idUnidad}`);
            const editarBoton = document.getElementById(`editar-${idUnidad}`);

            descripcionElement.contentEditable = false;
            descripcionElement.classList.remove('editable'); // Elimina la clase 'editable'
            this.style.display = 'none';
            editarBoton.style.display = 'inline-block';

            const nuevoContenido = descripcionElement.textContent.trim();
            const idCurso = "{{ idCurso|default(0) }}";
            const idMateria = "{{ idMateria|default(0) }}";

            if (!idCurso || !idMateria) {
                console.error("Error: idCurso o idMateria están vacíos.");
                return;
            }

            const url = `/${idCurso}/materia/${idMateria}/${idUnidad}/editar`;
            console.log("Enviando a:", url);
            console.log("Datos enviados:", { descripcion: nuevoContenido });

            fetch(url, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ descripcion: nuevoContenido })
            })
            .then(response => response.json())
            .then(data => {
                console.log("Respuesta del servidor:", data);
                if (data.success) {
                    window.location.reload();
                } else {
                    console.error("Error:", data.message);
                }
            })
            .catch(error => {
                console.error("Error en la petición:", error);
            });
        });
    });
});
function confirmarEliminacion(nombreArchivo) {
        return confirm("¿Estás seguro de que quieres eliminar el archivo " + nombreArchivo + "?");
    }
</script>
