.contenedor-usuarios {
    width: 97%;
    max-width: 1200px;
    margin: 20px auto;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table thead th {
    background-color: #012840;
    color: white;
    padding: 12px 15px;
    text-align: center;
}

table tbody tr {
    background-color: #f8f9fa;
}

table tbody tr:nth-child(even) {
    background-color: #f1f1f1;
}

table tbody tr:hover {
    background-color: #e9ecef;
}

table tbody td {
    padding: 10px 15px;
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000; /* Asegura que el modal esté por encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6); /* Fondo semi-transparente */
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%; /* Ajusta el ancho del modal */
    max-width: 600px; /* Ancho máximo del modal */
    position: relative; /* Para posicionar el botón de cierre */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.accion-button, .guardar-nota-button, .guardar-todas-notas-button {
    background-color: #012840;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.accion-button:hover, .guardar-nota-button:hover, .guardar-todas-notas-button:hover {
    background-color: #013a5a;
}

#formModalNotas {
    display: flex;
    flex-direction: column;
}

#formModalNotas label {
    margin-top: 10px;
    font-weight: bold;
}

#formModalNotas input[type="number"],
#formModalNotas textarea {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical; /* Permite redimensionar verticalmente el textarea */
}

#formModalNotas button {
    background-color: #012840;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
}

#formModalNotas button:hover {
    background-color: #013a5a;
}