.modal-fondo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(2px);
}

.modal-contenido {
  background: white;
  padding: 30px 30px 20px 30px;
  border-radius: 12px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  text-align: left;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.modal-contenido h3 {
  margin: 0;
  color: #1F3A52;
}

.separator {
  height: 1px;
  background-color: #d1d5db;
  width: 100%;
  margin-top: -10px;
  margin-bottom: 20px;
}

.detalle-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-bottom: 20px;
  color: #1f2937;
}

.detalle-item {
  display: flex;
  flex-direction: column;
}

.label {
  display: block;
  font-size: 0.9rem;
  color: #666;
  font-weight: 600;
}

.value {
  color: #1f2937;
}

.description-box {
  margin: 5px 0;
  background-color: #f9fafb;
  padding: 10px;
  border-radius: 5px;
  color: #374151;
}

.modal-botones-derecha {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin: 20px 0px 0px 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}

.btn-gris {
  background-color: #9ca3af;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  margin: 0;
  min-width: 100px;
}

.btn-gris:hover {
  background-color: #6b7280;
}

.btn-editar {
  background-color: #2E4F6E;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 0;
  min-width: 100px;
}

.btn-editar:hover {
  background-color: #4F6F8F;
}
