/* estilos base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Container principal */
.container {
  min-height: 100vh;
  width: 99vw;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.main {
  height: 87vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  background-color: #00695C;
}

h6{
  margin-left: 50px;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 20px;
}

.tarjeta{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 85%;
  padding: 2rem;
}

.dentro{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  height: 100%;
  background-color: #F3F3F3;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

h2{
  color: #333;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin: 20px;
}

.datos{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}

label{
  font-size: 18px;
  font-weight: 500;
  color: #333;
  align-self: flex-start;
  margin-top: 15px;
}

.datos input{
  width: 100%;
  height: 50px;
  padding: 10px;
  border: 1px solid #565555;
  background-color: #F3F3F3;
  border-radius: 5px;
  font-size: 20px;
  color: black;
}

button{
  width: 30%;
  height: 43px;
  background-color: #00695C;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin: 20px;
}

button:hover{
  background-color: #004D40;
}


/* ---------- RESPONSIVE ---------- */

@media (max-width: 1280px) {
  button{
    width: 80%;
  }
} 

@media (max-width: 1000px) {
  .main{
    height: 84vh;
  }
  .dentro{
    width: 80%;
    margin-top: 10px;
  }
  h2{
      margin-top: 40px;
  }
  h6{
    margin-bottom: 0;
    margin-left: 10px;
  }
  .tarjeta{
    padding: 0;
  }
  label{
    width: 90%;
    margin-left: 5%;
  }
  input{
    padding: 20px;
    width: 90%;
  }
  button{
    width: 80%;
  }
} 
@media (max-width: 500px) {
  .main{
    height: 72vh;
  }
  h2{
    font-size: 2rem;
    font-weight: 600;
    margin: 10px;
  }
  .dentro{
    width: 100%;
    height: 100%;
    margin-top: 5px;
  }
  h6{
    font-size: 15px;
    margin-left: 20px;
  }
  .tarjeta{
    padding: 0;
    height: 90%;
  }
  label{
    width: 100%;
    margin-left: 1%;
  }
  input{
    max-width: 100%;
  }
  button{
    width: 80%;
  }
} 