.header {
  background-color: #F5F5F5;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header img{
  width: 100px;
  height: auto;
  margin-left: 30px;
}
.header .item{
  display: flex;
}
.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 30px;
}
.dropdownContent {
  display: none;
  position: absolute;
  background-color: white;
  border-radius: 10px;
  margin-top: 5px;
  margin-right: 50px;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdownContent a {
  color: black;
  padding: 10px;
  text-decoration: none;
  display: block;
  font-size: 15px;
}
.dropdownContent a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdownContent {
  display: block;
}
.dropdownContent a{
  color:black;
  text-align: left;
  font-weight: 400;
}
.navbtn {
  background-color: #F5F5F5;
  color: #00695C;
  padding: 10px 20px;
  font-size: 22px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  margin-right: 10px;
}

.navbtn:hover {
  background-color: #E0E0E0;
  color: #004D40;
}

@media (max-width: 800px) {
  .header {
    flex-direction: column;
    align-items: center;
  }
  
  .dropdownContent {
    min-width: 100%;
  }
  
}
@media (max-width: 600px) {
  .header {
    flex-direction: column;
    align-items: center;
  }
  
  .dropdownContent {
    min-width: 100%;
  }
  .navbtn{
    font-size: 1rem;
  }
}
@media (max-width: 500px) {
  img{
    width: 60px;
    height: auto;
  }
  
  .item {
    justify-content: center;
    align-items: center;
  }
  .navbtn{
    font-size: 0.8rem;
  }
}