/* estilos base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Container principal */
.Container {
  min-height: 100vh;
  width: 99vw;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

/* Header */
.header {
  background: #F5F5F5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;
}

.header img {
  height: 100px;
  width: auto;
}

.item {
  display: flex;
  gap: 2rem;
}

.item a {
  color: #00695C;
  font-weight: 700;
  font-size: 1.4rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.item a:hover {
  color: #00352f;
}

/* Main */
.main {
  flex: 1;
  position: relative;
  height: 70vh;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.main .text-container {
  display: flex;
}
.main .text-container .subtitle1 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  z-index: 3;
  color: #00695C;
  font-size: 5rem;
  font-weight: 700;
  text-align: center;
  text-shadow: 5px 5px 4px #444444;
}
.main .text-container .subtitle2 {
  position: absolute;
  top: 58%;
  left: calc( 45vh + 35%);
  transform: translate(-30%, -50%);
  z-index: 3;
  color: #00695C;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}



/* ---------- RESPONSIVE ---------- */
@media (max-width: 821px) {
  .header{
    display: flex;
    flex-direction: column;
  }
  .header .item{
    display: flex;
    flex-direction: row;
  }
  .main .text-container .subtitle1 {
    font-size: 3rem;
  }

  .main .text-container .subtitle2 {
    font-size: 1.2rem;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .item {
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
  }
}

@media (max-width: 600px) {

  .item p {
    font-size: 15px;
  }
  .main .text-container .subtitle1 {
    font-size: 1.7rem;
  }
  .main .text-container .subtitle2 {
    font-size: 0.9rem;
    
  }
}



